* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  cursor: default; }

* {
  font-family: 'Ubuntu', sans-serif; }

.landingBody h1 {
  font-size: 3.5rem;
  color: #FCA311; }
  @media (min-width: 426px) {
    .landingBody h1 {
      font-size: 4.5rem; } }

.landingBody h2.name {
  font-size: 2.5rem; }
  @media (min-width: 426px) {
    .landingBody h2.name {
      font-size: 3rem; } }

.landingBody input {
  font-size: 1.25rem;
  color: #000000; }
  .landingBody input::placeholder {
    font-size: 1.25rem;
    color: #000000; }
  @media (min-width: 426px) {
    .landingBody input {
      font-size: 1.75rem; }
      .landingBody input::placeholder {
        font-size: 1.75rem; } }

.landingBody p {
  color: #FCA311; }

.landingBody .content ul li a:hover > .title {
  font-size: 0.85rem; }

.landingBody .content ul li a:hover > .date {
  font-size: 0.85rem; }

@media (min-width: 426px) {
  .landingBody .content ul li a:hover > .title {
    font-size: 1.2rem; }
  .landingBody .content ul li a:hover > .date {
    font-size: 1.2rem; } }

.landingBody .content ul li a h2.title {
  color: #FCA311;
  font-weight: 400;
  font-size: 0.8rem; }
  @media (min-width: 426px) {
    .landingBody .content ul li a h2.title {
      font-size: 1.125rem; } }

.landingBody .content ul li a span.date {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.8rem; }
  @media (min-width: 426px) {
    .landingBody .content ul li a span.date {
      font-size: 1.125rem; } }

.noteBody h1 {
  font-size: 2rem;
  color: #FCA311; }
  @media (min-width: 768px) {
    .noteBody h1 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    .noteBody h1 {
      font-size: 2rem; } }
  @media (min-width: 1440px) {
    .noteBody h1 {
      font-size: 3rem; } }

.noteBody h2 {
  font-size: 1.5rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .noteBody h2 {
      font-size: 2.25rem; } }
  @media (min-width: 1024px) {
    .noteBody h2 {
      font-size: 1.5rem; } }
  @media (min-width: 1440px) {
    .noteBody h2 {
      font-size: 1.8rem; } }

.noteBody p {
  font-size: 1rem;
  font-weight: 500; }
  @media (min-width: 768px) {
    .noteBody p {
      font-size: 1.5rem; } }
  @media (min-width: 1024px) {
    .noteBody p {
      font-size: 1rem; } }
  @media (min-width: 1440px) {
    .noteBody p {
      font-size: 1.2rem; } }

.noteBody a:hover > .asideNoteTitle {
  font-size: 1.07rem; }
  @media (min-width: 768px) {
    .noteBody a:hover > .asideNoteTitle {
      font-size: 1.22rem; } }
  @media (min-width: 1024px) {
    .noteBody a:hover > .asideNoteTitle {
      font-size: 0.87rem; } }
  @media (min-width: 1440px) {
    .noteBody a:hover > .asideNoteTitle {
      font-size: 0.97rem; } }

.noteBody a h3 {
  font-size: 1.1rem;
  font-weight: normal; }
  @media (min-width: 768px) {
    .noteBody a h3 {
      font-size: 1.25rem; } }
  @media (min-width: 1024px) {
    .noteBody a h3 {
      font-size: 0.9rem; } }
  @media (min-width: 1440px) {
    .noteBody a h3 {
      font-size: 1rem; } }

.noteBody #logOff {
  font-size: 1rem;
  color: #FCA311;
  text-decoration: underline; }

.noteBody .dateContainer .bigDate {
  font-size: 2.25rem;
  color: #FCA311; }
  @media (min-width: 1024px) {
    .noteBody .dateContainer .bigDate {
      font-size: 1.6rem; } }
  @media (min-width: 1440px) {
    .noteBody .dateContainer .bigDate {
      font-size: 2.25rem; } }

.noteBody .dateContainer .timeText {
  font-size: 1.125rem;
  color: #ffffff; }
  @media (min-width: 1024px) {
    .noteBody .dateContainer .timeText {
      font-size: 0.8rem; } }
  @media (min-width: 1440px) {
    .noteBody .dateContainer .timeText {
      font-size: 1rem; } }

.noteBody .button {
  font-size: 1.1rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .noteBody .button {
      font-size: 1.5rem; } }
  @media (min-width: 1024px) {
    .noteBody .button {
      font-size: 1rem; } }
  @media (min-width: 1440px) {
    .noteBody .button {
      font-size: 1.3rem; } }

html {
  overflow-y: scroll; }

.landingBody::-webkit-scrollbar {
  width: 10px;
  background: #14213D; }
  .landingBody::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: #ffffff;
    border-radius: 2px;
    border: 3px solid transparent;
    background-clip: content-box; }

.noteBody::-webkit-scrollbar {
  width: 10px;
  background: #E5E5E5; }
  .noteBody::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: #14213D;
    border-radius: 2px;
    border: 3px solid transparent;
    background-clip: content-box; }

.noteBody aside .noteList {
  overflow-y: scroll; }
  .noteBody aside .noteList::-webkit-scrollbar {
    width: 10px;
    background: #14213D; }
    .noteBody aside .noteList::-webkit-scrollbar-thumb {
      position: fixed;
      background-color: #ffffff;
      border-radius: 2px;
      border: 3px solid transparent;
      background-clip: content-box; }

.landingBody {
  background-color: #14213D;
  height: 100vh; }
  .landingBody button {
    width: 40px;
    background: transparent;
    position: absolute;
    top: 20px;
    left: 30px;
    cursor: pointer;
    display: none; }
    .landingBody button svg {
      fill: #FCA311;
      transform: rotateY(180deg);
      cursor: pointer; }
      .landingBody button svg path {
        cursor: pointer; }
    @media (min-width: 426px) {
      .landingBody button {
        width: 50px;
        top: 40px;
        left: 50px; } }
  .landingBody header {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .landingBody header h1 {
      text-align: center; }
  .landingBody .content {
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .landingBody .content#notes {
      display: none; }
    .landingBody .content .name {
      justify-self: flex-start;
      color: #ffffff;
      text-align: center; }
    .landingBody .content #formContainer {
      padding-bottom: 150px; }
      .landingBody .content #formContainer #formId input {
        width: 310px;
        margin-bottom: 20px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
        text-align: center;
        position: relative;
        display: flex; }
        .landingBody .content #formContainer #formId input#submit {
          display: none; }
        .landingBody .content #formContainer #formId input::placeholder {
          text-align: center;
          position: relative; }
        .landingBody .content #formContainer #formId input:focus {
          outline: none; }
          .landingBody .content #formContainer #formId input:focus::placeholder {
            color: #00000000; }
        @media (min-width: 426px) {
          .landingBody .content #formContainer #formId input {
            width: 500px;
            height: 60px; } }
      .landingBody .content #formContainer p {
        text-align: center;
        position: absolute;
        width: 310px; }
        @media (min-width: 426px) {
          .landingBody .content #formContainer p {
            width: 500px; } }
    .landingBody .content ul {
      margin-top: 80px;
      width: 80vw;
      height: 90%; }
      @media (min-width: 426px) {
        .landingBody .content ul {
          width: 50vw; } }
      .landingBody .content ul li {
        line-height: 30px; }
        .landingBody .content ul li a {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          cursor: pointer; }
          .landingBody .content ul li a h2 {
            display: inline-block;
            transition: ease-in-out 150ms; }
          .landingBody .content ul li a span {
            transition: ease-in-out 150ms; }

.noteBody {
  position: relative;
  min-height: 100vh;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .noteBody {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 120px auto;
      grid-template-areas: "header header main main main main main main main main main main" "aside aside main main main main main main main main main main"; } }
  @media (min-width: 1440px) {
    .noteBody {
      grid-template-rows: 150px auto; } }
  .noteBody header {
    padding: 0 20px;
    height: 80px;
    background: #14213D;
    display: flex;
    align-items: center;
    z-index: 2; }
    .noteBody header input {
      position: absolute; }
    .noteBody header h1 {
      text-align: center;
      margin: auto; }
    @media (min-width: 1024px) {
      .noteBody header {
        width: 100%;
        height: 100%;
        padding: 0;
        grid-area: header; }
        .noteBody header h1::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background: #ffffff;
          position: relative;
          top: 40px; }
        .noteBody header input {
          display: none; } }
  .noteBody aside {
    display: flex;
    position: absolute;
    padding: 20px 10px 0;
    height: 100%;
    width: calc(100% - 20px);
    background: #14213D;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end; }
    @media (min-width: 768px) {
      .noteBody aside {
        width: 37.5%; } }
    @media (min-width: 1024px) {
      .noteBody aside {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        float: left;
        grid-area: aside;
        height: calc(100vh - 120px);
        filter: drop-shadow(10px 0 10px #00000030);
        padding: 30px 10px 0; } }
    @media (min-width: 1440px) {
      .noteBody aside {
        height: calc(100vh - 150px); } }
    .noteBody aside .noteList {
      padding-top: 10px;
      padding-left: 10px;
      width: 100%;
      height: calc(100% - 150px); }
      @media (min-width: 1024px) {
        .noteBody aside .noteList {
          height: calc(100% - 100px); } }
      .noteBody aside .noteList .asideNoteInline {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        height: 35px;
        align-items: center; }
        .noteBody aside .noteList .asideNoteInline h3 {
          display: inline-block;
          transition: ease-in-out 100ms;
          cursor: pointer;
          white-space: nowrap; }
        .noteBody aside .noteList .asideNoteInline .newNoteTitle {
          color: #FCA311; }
          .noteBody aside .noteList .asideNoteInline .newNoteTitle::after {
            content: "";
            display: block;
            height: 1px;
            width: 75%;
            background: #FCA311; }
        .noteBody aside .noteList .asideNoteInline .asideNoteTitle {
          color: #FCA311;
          width: 100%;
          overflow: hidden; }
        .noteBody aside .noteList .asideNoteInline .asideNoteDate {
          text-align: right;
          color: #E5E5E5;
          width: 60px;
          padding-left: 10px;
          position: relative; }
          .noteBody aside .noteList .asideNoteInline .asideNoteDate::before {
            content: "";
            display: inline-block;
            width: 1px;
            border-radius: 1px;
            height: 100%;
            background: #E5E5E5;
            position: absolute;
            left: 0; }
    .noteBody aside #logOff {
      width: 100%;
      background: #14213D;
      cursor: pointer; }
  .noteBody main {
    min-height: calc(100vh - 80px);
    background: #E5E5E5;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: fit-content(100%) auto fit-content(100%);
    gap: 20px; }
    @media (min-width: 768px) {
      .noteBody main {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%); } }
    @media (min-width: 1024px) {
      .noteBody main {
        grid-area: main;
        padding: 20px 100px; } }
    .noteBody main .dateContainer {
      display: none; }
      @media (min-width: 768px) {
        .noteBody main .dateContainer {
          display: flex;
          flex-direction: column;
          height: 100%;
          min-height: 80px;
          grid-row: 1/2;
          background: #14213D;
          justify-content: flex-end;
          border-radius: 3px;
          filter: drop-shadow(0 4px 4px #00000030); } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .noteBody main .dateContainer {
      min-height: 70px; } }
  @media (min-width: 768px) and (min-width: 1440px) {
    .noteBody main .dateContainer {
      min-height: 90px; } }
      @media (min-width: 768px) {
          .noteBody main .dateContainer .bigDate {
            height: 100%;
            line-height: 80px;
            text-align: center; } }
    @media (min-width: 768px) and (min-width: 1024px) {
      .noteBody main .dateContainer .bigDate {
        line-height: 70px; } }
    @media (min-width: 768px) and (min-width: 1440px) {
      .noteBody main .dateContainer .bigDate {
        line-height: 90px; } }
      @media (min-width: 768px) {
          .noteBody main .dateContainer .timeText {
            display: inline;
            background: #000000;
            text-align: center;
            padding: 5px 0; } }
    @media (min-width: 768px) {
      .noteBody main .creationDateDiv {
        grid-column: 1/4; } }
    @media (min-width: 768px) {
      .noteBody main .lastChangeDiv {
        grid-column: 4/7; } }
    @media (min-width: 768px) {
      .noteBody main .todaysDateDiv {
        grid-column: 7/9; } }
    .noteBody main .titleContainer {
      grid-column: 1/6;
      grid-row: 1/2;
      height: 100%;
      min-height: 40px;
      background: #ffffff;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      filter: drop-shadow(0 0 3px #00000030); }
      @media (min-width: 768px) {
        .noteBody main .titleContainer {
          grid-column: 1/9;
          grid-row: 2/3;
          min-height: 50px; } }
      .noteBody main .titleContainer h2 {
        padding: 0 12px; }
    .noteBody main .textContainer {
      grid-column: 1/6;
      grid-row: 2/3;
      background: #ffffff;
      border-radius: 3px;
      filter: drop-shadow(0 0 4px #00000030); }
      @media (min-width: 768px) {
        .noteBody main .textContainer {
          grid-column: 1/9;
          grid-row: 3/4; } }
      .noteBody main .textContainer p {
        padding: 5px 5px 50px; }
    .noteBody main .button {
      grid-column: 1/3;
      grid-row: 3/4;
      background: #ffffff;
      border-radius: 3px;
      height: 100%;
      min-height: 40px;
      cursor: pointer;
      filter: drop-shadow(0 4px 4px #00000030); }
      @media (min-width: 768px) {
        .noteBody main .button {
          grid-column: 1/4;
          grid-row: 4/5;
          min-height: 50px; } }
      @media (min-width: 1024px) {
        .noteBody main .button {
          grid-column: 1/3; } }
