* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box; }

* {
  font-family: 'Ubuntu', sans-serif; }

.landingBody h1 {
  font-size: 3.5rem;
  color: #FCA311; }
  @media (min-width: 426px) {
    .landingBody h1 {
      font-size: 4.5rem; } }

.landingBody h2.name {
  font-size: 2.5rem; }
  @media (min-width: 426px) {
    .landingBody h2.name {
      font-size: 3rem; } }

.landingBody input {
  font-size: 2.25rem;
  color: #000000; }
  .landingBody input::placeholder {
    font-size: 2.25rem;
    color: #000000; }

.landingBody .content ul li a:hover > .title {
  font-size: 0.9rem; }

.landingBody .content ul li a:hover > .date {
  font-size: 0.9rem; }

@media (min-width: 426px) {
  .landingBody .content ul li a:hover > .title {
    font-size: 1.2rem; }
  .landingBody .content ul li a:hover > .date {
    font-size: 1.2rem; } }

.landingBody .content ul li a h2.title {
  color: #FCA311;
  font-weight: 400;
  font-size: 0.8rem; }
  @media (min-width: 426px) {
    .landingBody .content ul li a h2.title {
      font-size: 1.125rem; } }

.landingBody .content ul li a span.date {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.8rem; }
  @media (min-width: 426px) {
    .landingBody .content ul li a span.date {
      font-size: 1.125rem; } }

.landingBody .noteBody h1 {
  font-size: 2rem;
  color: #FCA311; }
  @media (min-width: 768px) {
    .landingBody .noteBody h1 {
      font-size: 3rem; } }

.landingBody .noteBody h2 {
  font-size: 1.5rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .landingBody .noteBody h2 {
      font-size: 2.25rem; } }

.landingBody .noteBody h3 {
  font-size: 1rem;
  font-weight: 500; }
  @media (min-width: 768px) {
    .landingBody .noteBody h3 {
      font-size: 1.5rem; } }

.landingBody .noteBody h5 {
  font-size: 1.1rem;
  font-weight: normal; }

.landingBody .noteBody .dateContainer .bigDate {
  font-size: 2.25rem;
  color: #FCA311; }

.landingBody .noteBody .dateContainer .timeText {
  font-size: 1.125rem;
  color: #ffffff; }

.landingBody .noteBody .button {
  font-size: 1.1rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .landingBody .noteBody .button {
      font-size: 1.5rem; } }

html {
  overflow-y: scroll; }

body::-webkit-scrollbar {
  width: 10px; }
  body::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: #ffffff;
    border-radius: 2px;
    border: 3px solid transparent;
    background-clip: content-box; }

.landingBody {
  background-color: #14213D;
  height: 100vh; }
  .landingBody header {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .landingBody header h1 {
      text-align: center; }
  .landingBody .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .landingBody .content .name {
      justify-self: flex-start;
      color: #ffffff;
      text-align: center; }
    .landingBody .content input {
      width: 310px;
      margin-bottom: 100px;
      height: 50px;
      border-radius: 10px;
      text-align: center;
      text-align: center;
      position: relative; }
      .landingBody .content input::placeholder {
        text-align: center;
        position: relative; }
      .landingBody .content input:focus {
        outline: none; }
        .landingBody .content input:focus::placeholder {
          color: #00000000; }
      @media (min-width: 426px) {
        .landingBody .content input {
          width: 500px;
          height: 60px; } }
    .landingBody .content ul {
      margin-top: 80px;
      width: 80vw;
      height: 90%; }
      @media (min-width: 426px) {
        .landingBody .content ul {
          width: 50vw; } }
      .landingBody .content ul li {
        line-height: 30px; }
        .landingBody .content ul li a {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-decoration: none; }
          .landingBody .content ul li a h2.title {
            display: inline-block; }

.noteBody {
  position: relative;
  min-height: 100vh; }
  .noteBody header {
    padding: 0 20px;
    height: 80px;
    background: #14213D;
    display: flex;
    align-items: center; }
    .noteBody header input {
      position: absolute; }
    .noteBody header h1 {
      text-align: center;
      margin: auto; }
  .noteBody aside {
    display: none;
    position: fixed;
    padding: 0 20px;
    min-height: 100%;
    width: calc(100% - 20px);
    background: #14213D;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end; }
    @media (min-width: 768px) {
      .noteBody aside {
        width: 37.5%; } }
    .noteBody aside .noteList {
      padding-top: 10px;
      width: 100%; }
      .noteBody aside .noteList .asideNoteInline {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px; }
        .noteBody aside .noteList .asideNoteInline h5 {
          display: inline-block; }
        .noteBody aside .noteList .asideNoteInline .AsideNoteTitle {
          color: #FCA311; }
        .noteBody aside .noteList .asideNoteInline .asideNoteDate {
          color: #E5E5E5; }
          .noteBody aside .noteList .asideNoteInline .asideNoteDate::before {
            content: "";
            display: inline-block;
            width: 1px;
            height: 100%;
            background: #E5E5E5;
            position: relative;
            right: 10px; }
  .noteBody main {
    min-height: calc(100vh - 80px);
    background: #E5E5E5;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: fit-content(100%) auto fit-content(100%);
    gap: 20px; }
    @media (min-width: 768px) {
      .noteBody main {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: fit-content(100%) fit-content(100%) auto fit-content(100%); } }
    .noteBody main .dateContainer {
      display: none; }
      @media (min-width: 768px) {
        .noteBody main .dateContainer {
          display: flex;
          flex-direction: column;
          height: 100%;
          min-height: 100px;
          grid-row: 1/2;
          background: #14213D;
          justify-content: flex-end;
          border-radius: 3px; }
          .noteBody main .dateContainer .bigDate {
            height: 100%;
            line-height: 100px;
            text-align: center; }
          .noteBody main .dateContainer .timeText {
            display: inline;
            background: #000000;
            text-align: center;
            padding: 5px 0; } }
    @media (min-width: 768px) {
      .noteBody main .creationDateDiv {
        grid-column: 1/4; } }
    @media (min-width: 768px) {
      .noteBody main .lastChangeDiv {
        grid-column: 4/7; } }
    @media (min-width: 768px) {
      .noteBody main .todaysDateDiv {
        grid-column: 7/9; } }
    .noteBody main .titleContainer {
      grid-column: 1/6;
      grid-row: 1/2;
      height: 100%;
      min-height: 40px;
      background: #ffffff;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media (min-width: 768px) {
        .noteBody main .titleContainer {
          grid-column: 1/9;
          grid-row: 2/3;
          min-height: 50px; } }
      .noteBody main .titleContainer h2 {
        padding: 0 5px; }
    .noteBody main .textContainer {
      grid-column: 1/6;
      grid-row: 2/3;
      background: #ffffff;
      border-radius: 3px; }
      @media (min-width: 768px) {
        .noteBody main .textContainer {
          grid-column: 1/9;
          grid-row: 3/4; } }
      .noteBody main .textContainer h3 {
        padding: 5px; }
    .noteBody main .button {
      grid-column: 1/3;
      grid-row: 3/4;
      background: #ffffff;
      border-radius: 3px;
      height: 100%;
      min-height: 40px; }
      @media (min-width: 768px) {
        .noteBody main .button {
          grid-column: 1/4;
          grid-row: 4/5;
          min-height: 50px; } }
