* {
    font-family: 'Ubuntu', sans-serif;
}

.landingBody {
    h1 {
        font-size: 3.5rem;
        color: $yellow;

        @media (min-width:426px) {
            font-size: 4.5rem;
        }
    }

    h2.name {
        font-size: 2.5rem;

        @media (min-width:426px) {
            font-size: 3rem;
        }
    }

    input {
        font-size: 1.25rem;
        color: $black;

        &::placeholder {
            font-size: 1.25rem;
            color: $black;
        }

        @media (min-width:426px) {
            font-size: 1.75rem;

            &::placeholder {
                font-size: 1.75rem;
            }
        }
    }

    p {
        color: $yellow;
    }

    .content {
        ul {
            li {
                a {

                    &:hover>.title {
                        font-size: 0.85rem;
                    }

                    &:hover>.date {
                        font-size: 0.85rem;
                    }

                    @media (min-width:426px) {
                        &:hover>.title {
                            font-size: 1.2rem;
                        }

                        &:hover>.date {
                            font-size: 1.2rem;
                        }

                    }

                    h2.title {
                        color: $yellow;
                        font-weight: 400;
                        font-size: 0.8rem;

                        @media (min-width:426px) {
                            font-size: 1.125rem;
                        }
                    }

                    span.date {
                        color: $white;
                        font-weight: 400;
                        font-size: 0.8rem;

                        @media (min-width:426px) {
                            font-size: 1.125rem;
                        }

                    }
                }
            }
        }
    }
}

.noteBody {
    h1 {
        font-size: 2rem;
        color: $yellow;

        @media (min-width:768px) {
            font-size: 3rem;
        }

        @media (min-width: 1024px) {
            font-size: 2rem;
        }

        @media (min-width:1440px) {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;

        @media (min-width:768px) {
            font-size: 2.25rem;
        }

        @media (min-width: 1024px) {
            font-size: 1.5rem;
        }

        @media (min-width:1440px) {
            font-size: 1.8rem;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 500;

        @media (min-width:768px) {
            font-size: 1.5rem;
        }

        @media (min-width: 1024px) {
            font-size: 1rem;
        }

        @media (min-width:1440px) {
            font-size: 1.2rem;
        }
    }

    a {
        h3 {
            font-size: 1.1rem;
            font-weight: normal;

            @media (min-width:768px) {
                font-size: 1.25rem;
            }

            @media (min-width: 1024px) {
                font-size: 0.9rem;
            }

            @media (min-width:1440px) {
                font-size: 1rem;
            }
        }
    }

    #logOff {
        font-size: 1rem;
        color: $yellow;
        text-decoration: underline;
    }

    .dateContainer {
        .bigDate {
            font-size: 2.25rem;
            color: $yellow;

            @media (min-width: 1024px) {
                font-size: 1.6rem;
            }

            @media (min-width:1440px) {
                font-size: 2.25rem;
            }
        }

        .timeText {
            font-size: 1.125rem;
            color: $white;

            @media (min-width: 1024px) {
                font-size: 0.8rem;
            }

            @media (min-width:1440px) {
                font-size: 1rem;
            }
        }
    }

    .button {
        font-size: 1.1rem;
        font-weight: 600;

        @media (min-width:768px) {
            font-size: 1.5rem;
        }

        @media (min-width: 1024px) {
            font-size: 1rem;
        }

        @media (min-width:1440px) {
            font-size: 1.3rem;
        }
    }

    .mainEdit {
        .editTitleContainer {
            font-size: 1.5rem;
            font-weight: 600;

            @media (min-width:768px) {
                font-size: 2.25rem;
            }

            @media (min-width: 1024px) {
                font-size: 1.5rem;
            }

            @media (min-width:1440px) {
                font-size: 1.8rem;
            }
        }

        .editTextContainer {
            font-size: 1rem;
            font-weight: 500;

            @media (min-width:768px) {
                font-size: 1.5rem;
            }

            @media (min-width: 1024px) {
                font-size: 1rem;
            }

            @media (min-width:1440px) {
                font-size: 1.2rem;
            }
        }
    }
}